body, html {
    margin:0;
    padding:0;
    height:100%;
}

body {
    color: whitesmoke;
    background-color: black;
    /* background: linear-gradient(-45deg, #000000, #513535, #b8b2b2, #ffffff); */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.rolling-logo {
    font-family: 'Metal Mania';
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	background-image:		
		url('img/live_concert.jpg'), 
		url('img/rolling_stones.jpg'),
		url('img/live_concert3.jpg');
	background-repeat: repeat-x;
	background-position: 
		-400px center,
		+400px center,
		center center;
	animation: 55s motion infinite linear; 
    animation-direction: alternate;
}

@keyframes motion {
	100% {
		background-position: 
			-3000px 40%,
			-780px 95%,
			50px 50%;
		}
	}


header.masterheader {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masterheader .masterheader-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
    height: 7rem;
    width: 100%;
    font-family: 'Metal Mania', 'The Nautigal', cursive, "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #272e2c;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(255, 255, 255), 0 2px 10px 0 rgba(255, 217, 0, 0.98);
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: black;
	background-size: 400% 400%;
}

.shine {
    background: linear-gradient(-45deg, #000000, rgba(255, 255, 255, 0.74), black);
    animation: gradient 10s ease infinite;
}

header.masterheader .masterheader-sub {
    color: rgb(210, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 25rem;
    margin: auto;
    margin-top: 15%;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    border-radius: 10%;
    cursor: pointer;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: white;
    box-shadow: 0px 7px 10px 0 rgb(179, 199, 3);
}

header.masterheader .masterheader-button{
    color: rgb(67, 89, 231);
    margin-top: 15%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.843);
}

h1 {
    color: white;
    font-family: 'Metal Mania';
}

.lead {
    color: white;
}

.sign {
background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1818,
    transparent
);
color: #ffe6ff;
text-shadow: 0 0 0.6rem #d5a6a6, 0 0 1.5rem #d06e6e,
    -0.2rem 0.1rem 1rem #d04d4d, 0.2rem 0.1rem 1rem #c82424,
    0 -0.5rem 2rem #cf1818, 0 0.5rem 3rem #ef0909;
animation: shine 2s forwards, flicker 3s infinite;
}

    @keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #db9494, 0 0 1.5rem #db6363,
        -0.2rem 0.1rem 1rem #d44141, 0.2rem 0.1rem 1rem #d42929,
        0 -0.5rem 2rem #d51919, 0 0.5rem 3rem #ef0909;
    }
    28%,
    33% {
        color: transparent;
        text: hid
    }
    82% {
        color: transparent;
        text: hid
    }
    97% {
        color: transparent;
        text-shadow: none;
    }
    }

    .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    }

    .fast-flicker {
    animation: shine 15s forwards, blink 10s 3s infinite;
    }

    .sub-fast-flicker {
    animation: shine 4s forwards, blink 4s 3s infinite;
    }

    @keyframes shine {
    0% {
        color: #ffffff;
        text-shadow: none;
    }
    90% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }

    to {
        color: #ffffff;
        text-shadow: none;
    }
    }

    @keyframes flicker {
    from {
        opacity: 0.9;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    60% {
        opacity: 0.99;
    }

    68% {
        opacity: 1;
    }

    70% {
        opacity: 0.9;
    }

    72% {
        opacity: 0.95;
    }

    93% {
        opacity: 0.93;
    }

    95% {
        opacity: 0.95;
    }

    97% {
        opacity: 0.93;
    }

    to {
        opacity: 1;
    }
    }

.top-buffer {
    margin-top: 10em !important;
}

/* .sign-up-success {
    margin-top: 1em !important;
    line-height: 1 !important;
    font-size: 2em;
    text-align: center;
    color: #000000 !important;
} */

@counter-style rocker {
    system: fixed;
    symbols:                ;
    suffix: " ";
}

ul {
    list-style-type: none;
}

#signupSuccessCard {
    width: 70em;
    height: 50em;
}

#accountCreationCardHeaderTxt {
    font-size: 2.5em;
}

#accountSuccessH1Text {
    color: black;
    font-size: 3.5em;
}

#accountSuccessPText {
    color: black;
    font-size: 2em;
}

#profileH1 {
    margin-top: 5em;
}

.albumSize {
    /* width: 80%; 
    height: auto;
    height: auto; */
    /* height: 100px !important; */
    /* max-height: 100px !important; */
    /* width: auto !important; */
    /* width: 100px !important; */
    /* max-width: 100px !important; */

    display: block !important;
    max-width:100px !important;
    max-height:100px !important;
    /* width: auto !important; */
    /* height: auto !important; */
}

.cardsClass {
    color: black;
}

#editBioIcon {
    cursor: pointer
}

.editDiv {
    position: absolute !important;
    top: 50% !important;
    left: 75% !important;
    transform: translate(-50%, -75%) !important;
}

#indexBody {
    padding-bottom: 200px;
}

#albumListHeaderOne {
    padding-top: 100px;
}

#albumViewH2 {
    text-align: center;
    margin-top: 4rem;
}

/* REFERENCE BOOTSTRAP COMMENT SECTION */

.bdge {
    height: 21px;
    background-color: orange;
    color: black;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
}

.comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}